/*Change all font enclosed in body and html*/
html,body {
  font-family: 'Raleway', sans-serif;
}
/*Titles for my NAME and Subsections for experience use a RED-ish colour*/
h1,h4 {
  color:#E13A63;
}
/*Resize the sparta global logo in nav bar, set width and margin gap on top*/
#logo {
  width:100px;
}

/*Overrides Listed Below*/

/*Change the look of the navigation bar, colour to a light black, remove the rounded edge and remove the white border*/
.navbar-default {
    background-color: #01181b;
    border-radius: 0px;
    border-color: transparent;
}
/*Reallign the game preview images on projects.html*/
.gamepreview{
	padding-bottom: 30px;
	padding-top: 13px;
}


   

