#experience h4 {
  margin-top:30px;
}

#job-history {
  margin-top:30px;
}

#skills-list ul li {
  margin-bottom:5px;
  font-size:1.1em;
  margin-top:15px;
}
	
#skills-list ul {
  padding:0px;
  margin-top:30px;
}